.how-works {
    font-family: 'Montserrat', sans-serif;
    @include adaptiveValue('margin-top', 128, 60, 0);
}
.how-works__title {
    margin-bottom: 37px;
}
.steps {
    display: flex;
    gap: 16px;
}
.steps__item {
    background-color: white;
    border-radius: 32px;
    flex: 0 1 32%;
    @include adaptiveValue('padding-left', 40, 20, 0);
    @include adaptiveValue('padding-bottom', 40, 20, 0);
}
.steps__image {
    display: flex;
    justify-content: end;
}
.steps__title {
    font-size: 22px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 26px;
}
.steps__description {
    font-size: 18px;
    line-height: 27px;
    color: #333333;
}
