.subscribe-plans {
    padding-top: 80px;
}
.subscribe-plans__title {
    &.title {
        margin-bottom: 20px;
    }
}
.subscribe-plans__description {
    text-align: center;
    margin-bottom: 52px;
    color: #333333;
}
.subscribe-plans__duration {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
}

.subscribe-plans__six-month,
.subscribe-plans__twelve-month {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 1 180px;
    height: 61px;
    border: 1px solid #1749B3;
    background: white;
    border-radius: 12px;
    color: #030303;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    transition: background 0.2s ease, color 0.2s ease;
    &.duration-selected {
        background:#1749B3;
        color: white;
    }
}
.subscribe-plans__six-month {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.subscribe-plans__twelve-month {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.plans {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.plans__item {
    flex-grow: 0;
    flex-shrink: 1;
    flex: 0 1 380px;
    @include adaptiveValue('flex-basis', 380, 240, 1);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px;
    & > * {
        @include adaptiveValue('padding-left', 40, 15, 1);
        @include adaptiveValue('padding-right', 40, 15, 1); 
    }
    @media (max-width: 570px) {
        flex-basis: 380px;
    }
}
.plans__title {
    position: relative;
    padding-bottom: 32px;
    padding-top: 60px;
    @include adaptiveValue('padding-top', 60, 32, 0);
    @include adaptiveValue('padding-bottom', 32, 20, 0);
    border-bottom: 1px solid gray;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &.title {
        font-size: 32px;
    }
}
.plans-advantages__list {
    display: grid;
    row-gap: 16px;
    @include adaptiveValue('margin-top', 32, 20, 0);
    margin-bottom: 60px;
}
.plans-advantages {
    flex: 1 1 auto;
}
.plans-advantages__item {
    position: relative;
    display: flex;
    gap: 10px;
    line-height: 22px;
    padding-left: 25px;
    &::before {
        position: absolute;
        top: 3px;
        left: 0;
        font-size: 18px;
    }
}
.plans__price {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 16px;
    span {
        font-size: 26px;
    }
}
.plans__buy {
    margin-bottom: 32px;
}
.plans__buy-button.black-button {
    height: 54px;
}